@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  font-size: 15px;
  background-color:#0B0D28;
}


header {
  font-family: "Oswald", sans-serif;
  width: 100%;
  height: 150px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #161A50;
  
}

.container {
  height: 100px;
  width: 90%;
  /* margin: 0 auto;  */
}
  

.container img{
  width: 60px;
  height: 60px;
}

h1 {
  margin-top: 0;
}

h1, nav {
  display: inline-block;
  position: relative;
  line-height: 150px;
}

a {       
  text-decoration: none;
  color: #ffffff;
}

nav {
  float: right;
  line-height: 150px;
  font-size: 1.4em;
  word-spacing: 45px
}
  a {
    margin-left: 10px;
  }
  
  a:hover{
    border-top: 2px dotted white;
    border-bottom: 2px dotted white;
  }
.phots img {
    width: 100%;
}

h2{
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
}
.name-film {
  margin: 10px 0 0 40px;
}
.view{
  font-family: "Open Sans", sans-serif;
  color: #878787;
  font-size: 30px;

}
.age{
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 80px;
}
.main-about{
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.main-wundown{
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-inline-start: -10px;
  margin-inline-end: -10px;
}
.about-film{
  display: block;
    padding-inline-start: 9px;
    padding-inline-end: 9px;
}
.about-film .ser{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    -webkit-margin-after: 16px;
    margin-block-end: 16px;
    margin:20px 0 10px 80px;
}
.ser{
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 27px;
  line-height: 28px;
}
.meaning{
  margin-left: 80px;
}
.part-value{
  border-block-end-color: hsla(0,0%,100%,.1);
  display: flex;
  align-items: baseline;
  padding-block-start: 8px;
  padding-block-end: 8px;
  padding-inline-start: 0;
  padding-inline-end: 0;
}
.value-years{
  color: hsla(0,0%,100%,.6);
  width: 300px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
}
.value-date{
  color: hsl(0, 0%, 99%);
  flex: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
}
.description{
  flex: 0 0 570px;
  width: 570px;
}
.description-block{
  margin-top: 20px;
}
.for-indentation{
  padding-left: 40px;
}
.description-value{
  padding-left: 40px;
}
.about-what{
  margin-top: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  /*line-height: 10px;*/
  color: hsl(0, 0%, 99%);
}
.video{
  display: block;
    padding-inline-start: 9px;
    padding-inline-end: 9px;
}
.video-trel{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  -webkit-margin-after: 16px;
  margin-block-end: 16px;
  margin:20px 0 10px 80px;
}
.the-player{
  margin-top: 40px;
  margin-left: 80px;
}
.slide{
  margin:160px 0 0 90px
}
.ser-slide{
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 500;
  line-height: 28px;
  font-size: 30px;
}
.container {
  height: 100px;
  width: 90%;
  margin: 0 auto; 
}
  

  .container img{
    width: 60px;
    height: 60px;
  }



a {       
  text-decoration: none;
  color: #ffffff;
}


a {
  margin-left: 10px;
}

a:hover{
  border-top: 2px dotted white;
  border-bottom: 2px dotted white;
}

#slider {
  position: relative;
  width: 1250px;
  height: 480px;
  margin: 10% ;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(247, 247, 247, 0.3);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  border-radius: 15px;
  margin-top: 40px;
}

#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
}

#slider ul li {
  position: relative;
  height: 100%;

  float: left;
}

#slider ul li img{
  width: 1250px;
  height: 480px;
}

#slider #prev, #slider #next {
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-50%);
  transition: all 150ms ease;
}

#slider #prev {
  left: 10px;
}
#slider #next {
  right: 10px;
}

#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}

.container-btn {
  position: relative;
  width: 50%;
}

.container-btn .btn {
  position: absolute;
  top: 90%;
  left:35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #feba2b;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width:300px;
}

.promo-text p {
  position: absolute;
  top: 65%;
  left: 10%;
  font-size: 16px;
  color: #ffffff;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container-btn .btn:hover {
background-color: rgb(248, 240, 240);
}
footer {
  font-family: "Oswald", sans-serif;
  width: 100%;
  height: 150px;
  position: relative;
  top: 0;
  left: 0;
  background-color:#161A50;
  ;
  margin-top:80px
}
.container {
  height: 100px;
  width: 90%;
  margin: 0 auto; 
}
  

.container img{
  width: 60px;
  height: 60px;
}

h1 {
  margin-top: 0;
}

h1, .foot-nav {
  display: inline-block;
  position: relative;
  line-height: 150px;
}

a {       
  text-decoration: none;
  color: #ffffff;
}

.foot-nav {
  float: right;
  line-height: 100px;
  font-size: 1em;
  word-spacing: 45px;
  margin-right: 19%;
}
a {
  margin-left: 10px;
}

a:hover{
  border-top: 2px dotted white;
  border-bottom: 2px dotted white;
}
.mail{
  width: 20px;
  height: 10px;
  margin-top: -60px;
  margin-left: 600px;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 19px;
}
.sezo{
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 30px;
}
/*.about-film{
  display: flex;
  font-family: "Open Sans", sans-serif; 
  margin: 40px 0 0 40px;
}

.about-serial {
  color: #878787;
  font-size: 20px;
}

.meaning{
  color: #ffffff;
  font-size: 20px;

}